<header class="g-header">
    <div class="g-logo" style="background: url('/assets/icons/favicon.png') center/100% 100% no-repeat !important;">
      <a href="{{ "/" | relative_url }}"></a>
    </div>
    <i id="menu-toggle" class="iconfont icon-menu"></i>
    <nav class="g-nav">
        <ul>
            {% for i in site.nav %}
            <li><a href="{{ i[1] }}">{{ i[0] }}</a></li>
            {% endfor %}
            {% if site.nightMode %}
            <li><a id="nm-toggle" href="javascript:void(0);" style="cursor:pointer;font-size:18px" title="切换夜间模式">☾</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
